
@font-face {
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: 400;
    src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'), url(../fonts/yRJpjT39KxACO9F31mj_LqOxStDXxcWVrHkhVmjuyZ8.woff) format('woff');
}

body {
    background-color: #f6ae6a;
    font-family: 'Averia Sans Libre', cursive;
}

body {
    /*background: url("../img/background.png") rgba(25, 152, 240, 0.7);*/
    margin: 0 auto !important;
}
/* Add some margin to the page and set a default font and colour */

body {
    margin: 30px;
    /*font-family: "Georgia", serif;*/
    line-height: 1.8em;
    color: #333;
}

/* Give headings their own font */

h1, h2, h3, h4 {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: 'Averia Sans Libre', cursive;
}

h1, h2, h3 {
    text-align: center;
}

/* Main content area */

#content {
    margin: 80px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header/footer boxes */

.wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
}

.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
    margin: 160px auto 0 auto;
    /*background: #ddf;*/
}

/* The initial pile of unsorted cards */

#cardPile {
    margin: 0 auto;
    /*background: #ffd;*/
}

#cardSlots, #cardPile {
    width: 980px;
    height: 180px;
    /*padding: 20px;*/
    /*border: 2px solid #333;*/
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);*/
    /*-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);*/
    /*box-shadow: 0 0 .3em rgba(0, 0, 0, .8);*/
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
    float: left;
    width: 150px;
    height: 100px;
    padding: 1px;
    /*padding-top: 40px;*/
    /*padding-bottom: 20;*/
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 150px;
    margin: 10px 0 0 10px;
    background: #fff;
}

#cardSlots div:first-child, #cardPile div:first-child {
    /*margin-left: 0;*/
}

#cardSlots > div {
    padding-top: 30px;
}

#cardSlots div.hovered {
    background: #aaa;
}

#cardSlots div {
    border-style: dashed;
    font-size: 40px;
}

/*#cardPile div {*/
    /*background: #666;*/
    /*color: #fff;*/
    /*font-size: 20px;*/
    /*text-shadow: 0 0 3px #000;*/
/*}*/

#cardPile div.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */

#card1.correct { background: #005580; }
#card2.correct { background: #005580; }
#card3.correct { background: #005580; }
#card4.correct { background: #005580; }
#card5.correct { background: #005580; }
#card6.correct { background: #005580; }
#card7.correct { background: #005580; }
#card8.correct { background: #005580; }
#card9.correct { background: #005580; }
#card10.correct { background: #005580; }


/* "You did it!" message */
#successMessage {
    /*margin: 0 auto;*/
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0px;
    height: 0;
    z-index: 100;
    background: #ffffff;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}

