@font-face {
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: 400;
    src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'), url(../fonts/yRJpjT39KxACO9F31mj_LqOxStDXxcWVrHkhVmjuyZ8.woff) format('woff');
}

h1, h2, h3, h4 {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: 'Averia Sans Libre', cursive;
    font-size: 80px !important;
}

#successMessage {
    /*margin: 0 auto;*/
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0px;
    height: 0;
    z-index: 100;
    background: #ffffff;
    color: #b14943;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}